<!DOCTYPE html>
<html ng-app="ThePresidentsApp">
  <head>
    <meta charset="utf-8">
    <title>The Presidents App</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/presidentsController.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <section ng-controller="PresidentsController">
      <h1>The Presidents of the United States of America</h1>

      <ul id="presidents">
        <li ng-repeat="president in presidents">
          <strong>{{president.name}}</strong> <em>({{president.start}} - {{president.end}})</em>
          <button class="update-president" ng-click="api.viewPresident($index,president)">update</button>
          <button class="remove-president" ng-click="api.removePresident($index,president)">remove</button>
        </li>
      </ul>

      <form class="add-president" ng-init="newPresident={}" ng-submit="api.createPresident()">
        <p>NEW PRESIDENT</p>
        <div>
          <label for="new-president-name">President's Name</label>
          <input type="text" id="new-president-name" placeholder="James Monroe" ng-model="newPresident.name" >
        </div>

        <div>
          <label for="new-president-start">President's Starting Year</label>
          <input type="text" id="new-president-start" placeholder="1817" ng-model="newPresident.start">
        </div>

        <div>
          <label for="new-president-end">President's Ending Year</label>
          <input type="text" id="new-president-end" placeholder="1825" ng-model="newPresident.end">
        </div>

        <div>
          <input type="submit">
        </div>
      </form>


      <form class="add-president" ng-init="updatePresident={}" ng-submit="api.updatePresident($index,president)">
        <p>UPDATE PRESIDENT INFORMATION</p>
        <div>
          <label for="update-president-name">President's Name</label>
          <input type="text" ng-model="updatePresident.name"> {{president.name}}
        </div>

        <div>
          <label for="update-president-start">President's Starting Year</label>
          <input type="text" id="new-president-start" value="" ng-model="updatePresident.start"> {{president.start}}
        </div>

        <div>
          <label for="update-president-end">President's Ending Year</label>
          <input type="text" id="new-president-end" value="" ng-model="updatePresident.end"> {{president.end}}
        </div>

        <div>
          <input type="submit">
        </div>
      </form>


    </section>

  </body>
</html>
